@model IEnumerable<Breadcrumbs.Models.Destination>

@{
    ViewData["Title"] = "Destinations";
}

<h1 class="text-white">Destinations</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="bg-hype-secondary round-sm" style="padding:10px;">
    <table class="table">
        <thead>
            <tr>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.DestinationName)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.DestinationTag)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.Directions)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.ImgId)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                    <td class="text-white">
                    @Html.DisplayFor(modelItem => item.DestinationName)
                </td>
                    <td class="text-white">
                    @Html.DisplayFor(modelItem => item.DestinationTag)
                </td>
                    <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Directions)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.ImgId)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                    <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Location.LocationId)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.DestinationId">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.DestinationId">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DestinationId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>