@model Breadcrumbs.Models.Location

@{
    ViewData["Title"] = "Locations: Delete";
}

<h1 class=" text-white">Locations: Delete</h1>

<h3 class=" text-white">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.LocationName)
        </dt>
        <dd class = "col-sm-10 text-white">
            @Html.DisplayFor(model => model.LocationName)
        </dd>
        <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.StreetNumber)
        </dt>
        <dd class = "col-sm-10 text-white">
            @Html.DisplayFor(model => model.StreetNumber)
        </dd>
        <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.RoadName)
        </dt>
        <dd class = "col-sm-10 text-white">
            @Html.DisplayFor(model => model.RoadName)
        </dd>
        <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10 text-white">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.LocationTag)
        </dt>
        <dd class = "col-sm-10 text-white">
            @Html.DisplayFor(model => model.LocationTag)
        </dd>
        <dt class = "col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.ImgId)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.ImgId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LocationId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-danger" asp-action="Index">Back to List</a>
    </form>
</div>
