@model IEnumerable<Breadcrumbs.Models.AspNetRole>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<div class="bg-hype-secondary round-sm" style="padding:10px;">
    <table class="table">
        <thead>
            <tr>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.NormalizedName)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.NormalizedName)
                </td>
                    <td class="text-white">
                    @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
