@model Breadcrumbs.Models.Stats

@{
    ViewData["Title"] = "Stats";
}

<h1 class="text-white">Stats</h1>

<h2 class="text-white">Overview</h2>

<div class="bg-hype-secondary round-sm" style="padding:10px;">
    <table class="table">
        <thead>
            <tr>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.UserCount)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.LocationCount)
                </th>
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.DestinationCount)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => Model.UserCount)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => Model.LocationCount)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => Model.DestinationCount)
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="text-white">Trending Location</h2>

    <p class="text-white">
        @Html.DisplayFor(model => model.MostDestinations)
    </p>
</div>



